.usergrid{
    margin: 0 auto; 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5px;
  
} 

.user_photo{
width: 225px;
}

.sell {
    background: url("https://cdn.vox-cdn.com/uploads/chorus_asset/file/18243701/163fa69302");
}

.card {
    box-shadow: 0 4px 8px 0 rgba(58, 33, 168, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

  .price {
    color: rgb(5, 5, 5);
    font-size: 18px;
  }

  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: rgb(5, 42, 66);
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }

  .card button:hover {
    opacity: 0.7;
  }

  .amazing{
      padding-right: 2in;
      height: .5in;
      background-color: rgb(248, 248, 202);
  }

  .newuser {
      background-image: url("https://images-na.ssl-images-amazon.com/images/I/81I8CIV7iAL._AC_SL1500_.jpg");
  }