* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: montserrat;
}

.header {
  position: sticky;
  height: 100px;
  top: 0;
  box-shadow: 10px 14px 10px 0 rgba(64, 55, 126, 0.2);
  background-color: rgb(222, 215, 240);
  margin-bottom: 0.7in;
}

nav {
  background: url("https://www.technistone.com/color-range/image-slab/Starlight%20Black_SLAB_web.jpg");
  height: 100px;
  width: 100%;
}

label.logo {
  font-family: "Niconne", cursive;
  color: rgb(247, 250, 252);
  font-size: 30pt;
  line-height: 80px;
  float: left;
  margin-left: 38pt;
  margin-top: 7pt;
}

nav ul {
  margin-top: 5pt;
  float: right;
  margin-right: 20px;
  font-size: 25pt;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 22px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
}

a.active,
a.hover {
  transition: 0.4s;
  font-size: 17px;
}

.move-up {
  position: fixed;
  margin-right: 50px;
  cursor: pointer;
  bottom: 30px;
  right: 0;
  z-index: 1;
  text-align: center;
  height: 60px;
  color: rgb(1, 206, 35);
  line-height: 46px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#double-arrow {
  font-size: 35px;
}
