.marketgrid{
    margin: 0 auto; 
    border: 1.2px solid black;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 5px;
} 


.market_photo{
width: 225px;
}