.cartimg {
  max-width: 150px;
  max-height: 120px;
  border-style: inset;
  margin-right: 30px;
  margin-left: 7px;
}

.checkout-img {
  max-width: 90px;
  max-height: 90px;
  border-style: inset;
  margin-right: 15px;
  margin-left: 20px;
}

.checkout-summary-div {
  margin-bottom: 20px;
  display: inline-flex;
  float: left;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(230, 230, 238);
  padding: 5px;
}

.checkout-product-title {
  margin-top: 40px;
  font-family: "Kanit", sans-serif;
  font-size: 13pt;
}

.main-div {
  padding: 20px;
  border-width: 3px;
  border-style: inset;
  margin-bottom: 0.3in;
}

.title-div {
  width: 450px;
  margin-top: 4.5%;
}

#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px;
  color: rgb(41, 34, 34);
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 11pt;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f5f8f7;
  color: white;
}
.receipt-key {
  float: left;
}

.receipt-key {
  font-size: 13pt;
  color: rgb(41, 34, 34);
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  margin-right: 30px;
}

.receipt-value {
  float: left;
  font-size: 13pt;
  color: rgb(41, 34, 34);
  font-family: "Kanit", sans-serif;
}

.sum-price-title-p {
  float: left;
}

.sum-price-title {
  background-color: white;
  width: 330px;
  padding: 0.1in;
  float: right;
}

.final-total {
  color: rgb(41, 34, 34);
  font-family: "Kanit", sans-serif;
  font-size: 20pt;
}

.price {
  margin-top: 4.5%;
  margin-right: 10%;
  color: rgb(41, 34, 34);
  font-family: "Kanit", sans-serif;
  font-size: 13pt;
}

.order-summary-topdiv {
  margin-top: 0.6in;
}

.div-cart-image {
  margin-top: 20px;
}

.mj {
  margin-top: 10px;
  width: 800;
  height: 400px;
  border-radius: 39px;
}

.vert-border {
  border-right: rgb(44, 43, 43);
  border-width: 5px;
}

.empty {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-size: 22pt;
}

.border-top {
  border-bottom: 2px inset gray;
  max-width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 8px 10px 0 rgba(39, 33, 77, 0.2);
  margin-bottom: 6px;
  margin-top: 0px;
}

.cart-body {
  display: inline-flex;
  float: left;
}

.remove-btn {
  float: right;
  margin-top: 1px;
}

.cart-item-div-top {
  box-shadow: 2px 2px 6px 4px rgba(39, 33, 77, 0.2);
  padding: 0.25in;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 35px;
  border-radius: 5px;
}

.your-basket {
  font-family: "Niconne", cursive;
  font-size: 32pt;
}

.cart-item-div {
  box-shadow: 2px 2px 6px 4px rgba(39, 33, 77, 0.2);
  padding: 0.25in;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-radius: 5px;
}

.billing {
  font-size: 16pt;
  margin-bottom: 0.4in;
  margin-top: 0.3in;
}

.payment-form {
  margin-bottom: 0.4in;
  margin-right: 40px;
  margin-left: 40px;
}

.order-summary {
  margin-top: 0.3in;
  font-size: 16pt;
}

.cartitem {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgb(44, 43, 43);
  font-family: "Kanit", sans-serif;
  font-size: 15pt;
  margin-top: 40px;
  border-right: rgb(44, 43, 43);
  border-width: 5px;
}

.cart-total {
  font-family: "Kanit", sans-serif;
  font-size: 22px;
}

.content {
  display: inline-flex;
  box-shadow: 0 4px 8px 0 rgba(58, 33, 168, 0.2);
  max-width: 900px;
  margin: auto;
  text-align: center;
  align-items: center;
  border: rgb(44, 43, 43);
}
