.title{
  font-family: 'Niconne', cursive;
  font-size: 110px;
  color: rgb(246, 243, 247);
  text-shadow: 5in;
  outline: black;
  text-align: center;
}

.welcome{
  font-family:'Niconne', cursive;
  color: #FFFFFF;
  background: red;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
  color: rgb(3, 1, 1);
  background: #FFFFFF;
  font-size: 40pt;
  text-align: center;

  animation: fadeIn 6s;
  -webkit-animation: fadeIn 6s;
  -moz-animation: fadeIn 6s;
  -o-animation: fadeIn 6s;
  -ms-animation: fadeIn 6s;
}





.sub{
  font-family: 'Staatliches', cursive;
  font-size: 20pt;
  letter-spacing: 1.2px;
  color: red;
}

.return{
  font-family: 'Staatliches', cursive;
  font-size: 18pt;
  letter-spacing: .8px;
}

.login{
  text-align: center; 
  align-content: center;
}

.username {
  padding: 10px;
  height: 20pt;
  text-align: center;
}

.password {
  text-align: center;
  padding: 10px;
  height:20pt;
}