.title{
  font-family: 'Niconne', cursive;
  font-size: 110px;
  color: rgb(246, 243, 247);
  text-shadow: 5in;
  outline: black;
  text-align: center;
}

.sub{
  font-family: 'Staatliches', cursive;
  font-size: 20pt;
  letter-spacing: 1.2px;
  color: red;
}

.return{
  font-family: 'Staatliches', cursive;
  font-size: 18pt;
  letter-spacing: .8px;
}

.login{
  text-align: center; 
  align-content: center;
}

.username {
  padding: 10px;
  height: 20pt;
  text-align: center;
}

.password {
  text-align: center;
  padding: 10px;
  height:20pt;
}